// Variables
 
$default-background-color: #e56c5b;
$default-text-color: #fff;

$primary-background-color: #0088cc;
$primary-text-color: #fafafa;

$info-background-color: #49afcd;
$info-text-color: #fafafa;

$success-background-color: #5bb75b;
$success-text-color: #fafafa;

$warning-background-color: #faa732;
$warning-text-color: #fafafa;

$danger-background-color: #da4f49;
$danger-text-color: #fafafa;

$inverse-background-color: #363636;
$inverse-text-color: #fafafa;


// Cross-browser helpers

@mixin boxShadow($statement){
  -webkit-box-shadow: $statement;
  -moz-box-shadow: $statement;
  box-shadow: $statement;
}

@mixin transition($property, $duration, $transition: linear){
  -webkit-transition-property: $property;
  -webkit-transition-duration: $duration;
  -webkit-transition-timing-function: $transition;
  -moz-transition-property: $property;
  -moz-transition-duration: $duration;
  -moz-transition-timing-function: $transition;
  -ms-transition-property: $property;
  -ms-transition-duration: $duration;
  -ms-transition-timing-function: $transition;
  -o-transition-property: $property;
  -o-transition-duration: $duration;
  -o-transition-timing-function: $transition;
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $transition;
}


@mixin buttonColor($background, $text){
  background: $background;
  color: $text;

  &:hover,
  &:focus {
    background: darken($background, 8%);
    color: $text;
  }
}
@mixin buttonSize($height, $depth, $font-size){
  height: $height;
  // Fine-tuned to look match font size
  //padding: 0 $font-size - 4; 
  padding: 0 15px;
  min-width:100px;
  border-radius: $depth + 2;
  // Make button look 3D by giving a thicker border at the bottom
  //@include boxShadow(inset 0 -$depth 0 0 rgba(0, 0, 0, 0.15));
  font-size: $font-size;
  line-height: $height;

  i {
    line-height: $height - $depth;
  }
  &:active, &:active i {
    line-height: $height;
  }
  //&.btn-primary, &.btn-info, &.btn-success, &.btn-warning, &.btn-danger, &.btn-inverse {
   // @include boxShadow(inset 0 -$depth 0 0 rgba(0, 0, 0, 0.2));
  //}
}

.btn {
  // Add .btn-inline class for inline-block display
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: none;
  @include buttonSize(40px, 3px, 18px);
  @include transition(background-color, 0.2s);
  @include buttonColor($default-background-color, $default-text-color);

  &.btn-primary {
    @include buttonColor($primary-background-color, $primary-text-color);
  }
  &.btn-info {
    @include buttonColor($info-background-color, $info-text-color);
  }
  &.btn-success {
    @include buttonColor($success-background-color, $success-text-color);
  }
  &.btn-warning {
    @include buttonColor($warning-background-color, $warning-text-color);
  }
  &.btn-danger {
    @include buttonColor($danger-background-color, $danger-text-color);
  }
  &.btn-inverse {
    @include buttonColor($inverse-background-color, $inverse-text-color);
  }

  span {
    // We need this extra span because there's a WebKit bug that sometimes
    // misses click events when the text inside a the element moves between
    // mousedown and mouseup: http://stackoverflow.com/q/15679787/128816
    pointer-events: none;
  }

  &:hover {
    text-decoration: none;
	color:#fff;
  }
  &:focus {
    text-decoration: none;
    outline: none;
  }
  &:active {
    // Remove excess of bottom border when clicking on the button in order to
    // make it seem like it's physically pressed
    @include boxShadow(#{"none !important"});
  }
}
.btn-small {
  @include buttonSize(30px, 2px, 14px);
}
.btn-large {
  @include buttonSize(50px, 4px, 22px);
}

.btn-medium {
  @include buttonSize(50px, 4px, 18px);
     min-width:180px;
}

.btn-xlarge {
  @include buttonSize(60px, 5px, 26px);
}


.btn-inline {
  display: inline-block;
  vertical-align: middle;
}