@import "../../includes/mixins"; 
@import "../../includes/variables";
@import "../../includes/button"; 
@import "../../partials/components/tags";
@import "../../partials/components/stickySubNav";
@import "../../partials/components/popup";
@import "../../partials/components/checkboxRadio";
.c360-header{
	@include box-shadow(none);
}
.c360-header.off-canvas{
	@include box-shadow(0px 3px 7px 0 rgba(0, 0, 0, 0.35));
}

.layout-container.grayBg.text-center{
    background: $gray-lighter;
}

.domainHeader {
	background: #1f2e67;
    background: -moz-linear-gradient(left, #1f2e67 0%, #3a4d95 100%);
    background: -webkit-linear-gradient(left, #1f2e67 0%, #3a4d95 100%);
    background: linear-gradient(to right, #1f2e67 0%, #3a4d95 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f2e67', endColorstr='#3a4d95',GradientType=1 );
    color: #fff;
    padding: 13px 20px 18px;
	text-align: center;
	h1{
		font-size: 18px;
        font-weight: 600;
        margin: 0;
        line-height: 28px;
        color: #fff;
	}
    p{
        font-size: 12px;
        line-height: 19px;
        margin: 5px 0 0;
        color: #fff;
    }
}


.showResultCounter{
    font-size: 12px;
    padding: 15px 20px 10px;
    color: $gray;
}

.tags {
    padding: 20px 15px 10px;
    margin-bottom: 0;
    a{
        min-width: 80px;
        font-size: 12px;
        text-align: center;
        color: $gray-dark;
        &.current {
            background: #fff;
        }
    }
}

.commonSection{
    background: $gray-lightest;
}




.ebookList {
    margin: 0 10px;
     > div {
        background: #fff;
        padding: 10px;
        overflow: hidden;
         margin-bottom: 15px;
        @include border-radius(4px);
    }
    .thumb{
        width: 100px;
        float: left;
        margin-right: 15px;
    }
    .detail {
        width: calc(100% - 115px);
        float: left;
        > div {
            height: 80px;
            overflow: hidden;
        }
		.countbottomReview {
			font-size: 12px;
			margin: 5px 0 0;
			color: #999;
			i {
				margin: 0 10px 0 0;
				&:before { 
				color: #cccccc;
				}
			}
		}
		.infoEbookdownload {
			float: left;
			font-size: 12px;
			margin: 5px 20px 5px 0;
			color: #999;
			i {
				font-size: 14px;
				margin: 0 10px 0 0;
				color: #cccccc;
				position: relative;
				top: -1px;
				left: 2px;
			}
		}
    }
    h5{
        font-size: 14px;
        line-height: 21px;
        color: $gray-darker;
        margin-bottom: 4px;
        font-weight: 600;
        margin-top: -3px;
    }
    p{
        margin-bottom: 8px;
    }
    .button{
        float: left;
        margin-top: 0px;
    }
}

.overflowHidden{
    overflow: hidden;
}

.pagination {
    width: 227px;
    margin: 40px auto;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    border: 1px solid $gray-lighter;
    a {
        float: left;
        width: 75px;
        height: 36px;
        padding: 8px 5px;
        color:  #e56c5b;
        &.prev{
            &:before{
                content: "";
                width: 7px;
                height: 7px;
                position: relative;
                top: -1px;
                margin-right: 4px;
                border-top: 1px solid #e56c5b;
                border-right: 1px solid #e56c5b;
                display: inline-block;
                transform: rotate(-135deg);
            }
        }
         &.next{
            &:after{
                content: "";
                width: 7px;
                height: 7px;
                margin-left: 4px;
                position: relative;
                top: -1px;
                border-top: 1px solid #e56c5b;
                border-right: 1px solid #e56c5b;
                display: inline-block;
                transform: rotate(45deg);
            }
        }
        &.disabled{
            color: $gray-light;
            cursor: auto;
            &:before, &:after{
                border-color: $gray-light;
            }
        }
    }
    span {
        width: 73px;
        height: 35px;
        padding-top: 10px;
        float: left;
        font-size: 12px;
        border-left: 1px solid $gray-lightest;
        border-right: 1px solid $gray-lightest;
        color: $gray-darker;
    }
}
.stickyBrochure {
    background-color: #3A4D95;
    -webkit-box-shadow: 0px -4px 6px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -4px 6px 0 rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px -4px 6px 0 rgba(0, 0, 0, 0.3);
    -o-box-shadow: 0px -4px 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0px -4px 6px 0 rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: 100%;
	a {
		display: block;
		padding: 16px;
		font-size: 14px;
		color: #ffffff;
	}
}

.sortFilterOuter{
    background-color: #ffffff; 
    .head{
        color: $gray-darker;
        font-size: 14px;
        font-weight: 600;
        padding: 15px;
        border-bottom: 1px solid $gray-lightest;
        .clearAll{
            color: $gray;
            font-size: 12px;
            float: right;
            font-weight: normal;
        }
    }
    .sortFilterBox{
        height: calc(100% - 100px);
        .tabs{
            width: 120px;
            height: 100%;
            float: left;
            border-right: 1px solid $gray-lighter;
            background-color: $gray-lightest;
            a{
                display: block;
                font-size: 14px;
                color: $gray-dark;
                padding: 12px 15px;
                position: relative;
                border-bottom: 1px solid #e7e7e7;
                .checkedNum{
                    color: #02a569;
                    font-size: 12px;
                }
                &.active{
                    background-color: #ffffff;
                    &:before{
                        content: '';
                        position: absolute;
                        width: 3px;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background-color: #02a569;
                    }
                }
            }
        }
        .radioCheckbox{
            width: calc(100% - 121px);
            height: 100%;
            float: left;
			overflow:auto;
            padding: 0 15px;
            .tabCatagory{
                display: none;
                &:first-child{
                    display: block;
                }
            }
            .box{
                padding: 13px 0;
                border-bottom: 1px solid $gray-lighter;
            }
        }
    }
    .cancelApply{
        a {
            float: left;
            text-align: center;
            padding: 14px;
            color: $gray-lightest;
            font-size: 16px;
            font-weight: 600;
        }
        .cancel {
            width: 120px;
            background-color: $gray-dark;
        }
        .apply {
            width: calc(100% - 121px);
            background-color: $brand-primary;
        }
    }
}
.stickyNav.navShowheader{
    z-index: 9999 !important;
}
.stickyNav.navShowheader.off-canvas {
    opacity: 0;
}
.stickyNav.navShowheader {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    z-index: 99;
    -webkit-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.commonSection {
    background: #f2f2f2;
    display: inline-block;
    float: left;
	width: 100%;
}
.sortFilterOuter.popupbox {
    padding: 0;
}
.cntt-wrapper .topNav li a {
    line-height: 21px;
    vertical-align: top;
}




label:before > input[type="radio"]  {
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 0;
    margin-right: 10px;
    background-clip: content-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: initial;
}

input[type="radio"]:checked + label:before {
    background-color: #fff;
    padding: 0;
    border: solid 5px #02a569;
    width: 6px;
    height: 6px;
}
.control.controlCheckbox {
    margin: 0 0 5px;
    display: block;
}
.control.controlCheckbox .controlIndicator{top: 11px;}

.controlIndicatorRadio {
     content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    padding: 0;
    margin-right: 10px;
    background-clip: content-box;
    border: 1px solid #cccccc;
    background-color: #fff;
    border-radius: 50%;
    box-sizing: initial;
	left: 0;
	    top: 3px;
    position: absolute;
}
.customRadio input {
   position: absolute;
   z-index: -1;
   opacity: 0;
}
.customRadio label {
   font-size: 14px;
   color: #666666;
   display: block;
   margin-bottom: 11px;
   font-weight: 400;
}
.customRadio {
   position: relative;
   display: inline-block;
   cursor: pointer;
   padding-left: 25px;
}
.customRadio input:checked ~ .controlIndicatorRadio {
background-color: #fff;
    padding: 0;
    border: solid 5px #02a569;
    width: 6px;
    height: 6px;
}
.controlCheckbox .controlIndicatorRadio:after {
   top: 1px;
   left: 5px;
   width: 5px;
   height: 10px;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   -moz-transform: rotate(45deg);
   -o-transform: rotate(45deg);
   transform: rotate(45deg);
   border: solid #fff;
   border-width: 0 2px 2px 0;
}
.customRadio input:checked ~ .controlIndicatorRadio:after {
   display: block;
}
.control input {
    position: absolute;
    z-index: 1;
    opacity: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.cntt-wrapper .topNav li{width: 98%!important;}
.count-block {
    position: absolute;
    top: 6px;
    right: 3px;
    z-index: 6;
    background: #3a4d95;
    border-radius: 50%;
    height: 21px;
    width: 22px;
    line-height: 21px;
    color: #fff;
    text-align: center;
    font-size: 9px;
    font-weight: 600;
}
.fab.fabs.active .count-block{display:none;}

.ebook-noResult{padding:10px;background:#fff;}
.tools-adBlock .toolBox {
  background-color: #fff;
  margin-top: 10px;
  border: solid 1px #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  padding: 20px 15px; }
.tools-adBlock .button {float:none;
  background-color: #3A4D95 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  margin-top: 13px;
  min-width: 100px; }
.tools-adBlock .owl-item {
  float: left; }
.tools-adBlock .toolBox strong {
  display: block;
  font-size: 1.6rem;
  color: #333; }
.tools-adBlock .toolBox p {
  font-size: 14px !important;
  line-height: 21px;
  margin: 9px 0 0; } 