@import "includes/mixins"; 
@import "includes/variables";
@import "includes/button";
@import "partials/components/cardBlk";
@import "partials/components/popup";
@import "partials/components/tags";
@import "partials/components/breadcrumb";
@import "partials/components/checkboxRadio";


.breadCrumb {
    padding: 0;
    overflow: hidden;
    width: 100%;
    margin: 130px 0 30px;
    li, a{
        color: $gray !important;
    }
    li:before, li:after{
        border-color: $gray;
    }
}

p{
	font-size: 14px;
	line-height: 21px;
	margin-top: 0;
	color: $gray-dark;
}


.app-block {
    background-color: #e5e5e5;
}
.commonFooter .sectionLayout {
    padding: 70px 0;
    .google-icon {
        margin-top: 30px;
    }
    #testimonials .owl-nav {display: none;}
}


.display-flex {
    display: flex;
}
.owl-item {
    float: left;
}


.title{
    font-size: 24px;
    line-height: 32px;
    color: $gray-darker;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
}

/*main SCSS page*/
.campaignBanner{
    padding-bottom: 50px;
    position: relative;
    background: url(../../../images/campaign-banner.jpg) no-repeat 0 0;
    &:before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-image: linear-gradient(215deg, rgba(173, 83, 137, 0.51) 100%, #3c1053);
    }
    .container {
        position: relative;
    }
    .detail {
        
    }
    h1 {
        font-size: 36px;
        line-height: 57px;
        margin-bottom: 10px;
        margin-top: 50px;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }
    h3 {
        font-size: 14px;
        line-height: 38px;
        color: #fff;
        font-weight: normal;
        text-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    }
    ul {
        padding: 10px;
        list-style: none;
        background: rgba(0,0,0,0.35);
        @include border-radius(4px)
    }
    ul li {
        background: url(../../../images/check-decagram.png) no-repeat 0px 7px;
        background-size: 12px;
        padding-left: 17px;
        margin-bottom: 8px;
        color: #fff;
        font-size: 12px;
        line-height: 19px;
        font-style: italic;
        &:last-child{
            margin-bottom: 0;
        }
    }
}

.registerNowBtn {
    width: 100%;
    width: 100%;
    font-size: 14px;
    height: 50px;
    text-align: center;
    font-weight: 600;
    padding-top: 14px;
    background: #e56c5b;
    color: #fff;
    text-transform: uppercase;
}
#registrationBox {
    padding: 15px;
    display: flex;
    align-items: center;
    .detail {
        padding: 15px;
        background: #ffffff;
        @include border-radius(4px);
        .closebtn {
            float: right;
        }
    }
    h3 {
        color: $gray-darker;
        font-size: 24px;
        line-height: 33px;
        margin: 5px 0 20px;
        font-weight: normal;
        text-align: center;
    }
    input, select{
        width: 100%;
        height: 40px;
        background: #fff;
        margin-bottom: 15px;
        border: 1px solid $gray-lighter;
        padding: 10px;
        @include border-radius(4px)
    }
    .submitBtn{
        box-shadow: 0 5px 20px 0 rgba(229, 108, 91, 0.5);
        background-color: #e56c5b;
        color: #fff;
        margin-bottom: 0;
        text-transform: uppercase;
        height: 50px;
    }
}

.welcome{
    background: #fffbf7;
    text-align: center;
    padding: 40px 10px;
    p{
        color: $gray;
    }
    .para{
        font-size: 14px;
        line-height: 24px;
        color: $gray-darker;
    }
}

.rewards{
    padding: 40px 15px;
    position: relative;
    background: #333;
    .detail {
        position: relative;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: #000 url(../../../images/reward-bg.png) no-repeat 0 0;
        opacity: 0.35;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .title {color: #fff;}
    p{color: #ddd; text-align: center;}
    ul{
        list-style: none;
        padding: 0;
        li{
            background: url(../../../images/check-decagram.png) no-repeat 0 5px;
            background-size: 12px;
            padding-left: 20px;
            line-height: 21px;
            margin-bottom: 13px;
            font-size: 14px;
            color: #fff;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}


.otherBenifit {
    padding: 40px 0;
    background: #fffbf7;
    p{color: #666; text-align: center;}
    ul{
        list-style: none;
        padding: 0;
        li{
            padding-left: 20px;
            margin-bottom: 13px;
            font-size: 16px;
            color: #333;
            position: relative;
            &:before{
                content: '';
                width: 10px;
                height: 6px;
                position: absolute;
                left: 0px;
                top: 4px;
                border-bottom: 2px solid #02a569;
                border-left: 2px solid #02a569;
                transform: rotate(-45deg);
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    
}

.eligiblity{
    padding: 40px 0;
    background: #004784;
    .title{color: #fff;}
    p{color: #f2f2f2}
    ul{
        list-style: none;
        padding: 0;
        li{
            padding-left: 40px;
            font-size: 16px;
            margin-bottom: 30px;
            color: #333;
            position: relative;
            img {
                position: absolute;
                top: 3px;
                left: 0;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        h5 {
            font-size: 18px;
            color: #fff;
            line-height: 25px;
            margin: 0;
            margin-bottom: 5px;
        }
        p{
            font-size: 14px;
            color: #fff;
            line-height: 25px;
        }
    }
    
}


.importantDate{
    padding: 40px 0;
    position: relative;
    background: #333;
    .container {
        position: relative;
    }
    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: url(../../../images/important-date.png) no-repeat 0 0;
        opacity: 0.4;
        width: 100%;
        height: 100%;
        background-size: cover;
    }
    .title {color: #fff;}
    .row{
        display: flex;
        color: #fff;
        flex-wrap: wrap;
        text-align: center;
        h5 {
            margin: 0;
            color: #f7b733;
            margin-bottom: 10px;
            font-size: 18px;
        }
        p{
            margin: 0;
            color: #fff;
        }
        > div {
            border: 1px dotted #666;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
            padding: 15px;
        }
    }
}

.partner{
    padding: 40px 0;
    position: relative;
    background: #fffbf7;
    p {
        color: #666;
        text-align: center;
    }
    .row{
        display: flex;
        color: #fff;
        flex-wrap: wrap;
        margin-top: 20px;
        text-align: center;
        h5 {
            margin: 0;
            color: #f7b733;
            margin-bottom: 10px;
            font-size: 18px;
        }
        p{
            margin: 0;
            color: #999;
        }
        > div {
            border-right: 1px dotted #999;
            border-bottom: 1px dotted #999;
            flex: 0 0 16.666667%;
            max-width: 16.666667%;
            padding: 15px;
        }
    }
}

.commonFooter {
    text-align: center;
    color: #fff;
    font-size: 12px;
    .footer-top{
        background: $gray-darker;
        padding: 12px 0;
    }
    .footer-bottom{
        background: #999;
        padding: 12px 0;
    }
}










