.qnaBlk{border: solid 1px #e5e5e5;padding:15px 10px;
	.blockHeading{margin:0;border-bottom:1px solid #f2f2f2;margin-bottom:10px;padding-bottom:10px;
		a{color:#333;}
	}
	.leftBlk { width: 60px;
		.imgBlk{width:40px;height:40px;background-color:#e5e5e5;@include border-radius(50%);line-height:25px;text-align:center;
			i{font-size:25px;line-height:40px;}
		}
		img {
			@include border-radius(50%);
			width: 40px; 
			height: 40px;
			display:block;
		}
	}
	.rightBlk{font-size:1.1rem;
		.qDate{color:#999;}
	}
	.qnaTxt{margin-top:15px;}
	&:not(:first-child){margin-top:10px;}
    .candName{
	   a{color:#333;}
	    }
	
	}

.askWidget{padding:0;text-align:left;position:relative;
	a{padding:0 15px;display:block;}
	margin-top:40px;@include box-shadow(0 0 5px #e5e5e5);min-height:60px;line-height:60px;
	strong{display:inline-block;vertical-align:middle;color:#666;line-height:20px;padding-right:100px;}
	.button{min-width:90px;position: absolute;margin-top:15px;
    top: 0;
    right: 15px;}   
}