
.rupee {
    background-position: left;
    width: 10px;
    height: 14px;
    background-image: url(../images/rupee.png);
    display: block;
    background-repeat: no-repeat;
	 margin: 0;
    padding: 0;
    display: inline-block;
}	


