.sectionLayout{padding:70px 0;} 
.leftSidebar{
	.contentPart{width:785px;float:right;padding: 0 15px 0 10px;}
	.sidebarPart{padding: 0 10px 0 15px;}
} 
.rightSidebar{ 
	.contentPart{width:785px;padding:0 10px 0 15px;}
	.sidebarPart{padding:0 0 0px 25px;}
}
.contentPart{float:left;padding:0 15px;} 
.sidebarPart{width:325px;float:left;}