.rating {
   width: 87px;
   height: 15px;
   background: url(../../../../../images/frontend/desktop/stars.jpg) no-repeat 0 -19px;
    .userRating{
        width: 87px;
        height: 15px;
        background: url(../../../../../images/frontend/desktop/stars.jpg) no-repeat 0 0;  
    
    }
}