.tags{margin-bottom:-10px;
	a, .tag{border: solid 1px #e5e5e5;color:#666;height:30px;line-height:30px;padding:0 9px;font-size:1.4rem;margin-bottom:10px;
		&:not(:last-child){margin-right:10px;}
		&:hover, &:focus{background-color: #f2f2f2;box-shadow:none;} 
	}
} 